html, body {
  height: 100%;
  overflow: hidden;
}

body, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.content {
  overflow: hidden;
}

.item {
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  width: 32%;
  padding-top: 32%;
  border-radius: 4%;
  background: #ffa600;
}
