html,
body {
    height: 100%;
}

body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border: none;
}

input,
textarea {
    outline: none;
    -webkit-appearance: none;
    border: none;
}

.layout {
    width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
}

@font-face {
    font-family: 'iconfont';
    /* project id 334777 */
    src: url('//at.alicdn.com/t/font_pc9h111xk8vq85mi.eot');
    src: url('//at.alicdn.com/t/font_pc9h111xk8vq85mi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_pc9h111xk8vq85mi.woff') format('woff'), url('//at.alicdn.com/t/font_pc9h111xk8vq85mi.ttf') format('truetype'), url('//at.alicdn.com/t/font_pc9h111xk8vq85mi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: iconfont;
    font-size: 16px;
    color: #000;
}

#header {
    position: relative;
    max-width: 100%;
    height: 100%;
}

#header .carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.pre,
.next {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.08;
    transition: opacity .5s;
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1499834345762');
    /* IE9*/
    src: url('../iconfont/iconfont.eot?t=1499834345762#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff?t=1499834345762') format('woff'), /* chrome, firefox */
    url('../iconfont/iconfont.ttf?t=1499834345762') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg?t=1499834345762#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pre:before {
    content: "\e602";
}

.next:before {
    content: "\e601";
}

.pre:hover,
.next:hover {
    opacity: 0.7;
}

.pre {
    left: 10px;
}

.next {
    right: 10px;
}

.bullet {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.bullet>li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.bullet>li.active {
    opacity: 0.5;
}

#header .img-wrap {
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
}

#header .img-wrap>li {
    float: left;
    width: 25%;
    height: 100%;
}

#header .carousel .img-wrap li {
    background-size: cover !important;
}

#header .topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.5);
    z-index: 2;
}

#header .logo {
    float: left;
    display: inline-block;
    vertical-align: middle;
}

#header .logo a {
    display: block;
    padding: 0 15px;
    font-size: 25px;
    line-height: 80px;
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

#header .navgation {
    float: right;
}

#header .navgation li {
    float: left;
}

#header .navgation li a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 14px;
    line-height: 80px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header .navgation li a:hover {
    color: #fed136;
}

#header .introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#header .introduction p:first-child {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
}

#header .introduction p:nth-child(2) {
    margin-bottom: 25px;
    line-height: 50px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.services {
    padding: 150px 0;
    text-align: center;
}

.services .title {
    margin-bottom: 15px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase;
}

.services .subtitle {
    margin-bottom: 75px;
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    color: #777;
}

.services .services-item {
    margin: 0 20px;
    float: left;
    width: 340px;
}

.services .services-item img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}

.services .services-item .services-description {
    color: #777;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

#portfolio {
    background: #f7f7f7;
}

#portfolio .portfolio-list {
    margin-top: -30px;
    position: relative;
}

#portfolio .portfolio-item {
    position: absolute;
    margin: 30px 25px 0;
    padding-bottom: 10px;
    width: 330px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#portfolio .portfolio-item.hide {
    display: none;
}

#portfolio .portfolio-item a {
    position: relative;
    display: block;
}

#portfolio .portfolio-item a .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #fed136;
    transition: all 1s;
}

#portfolio .portfolio-item a .mask:hover {
    opacity: 1;
}

#portfolio .portfolio-item a .mask:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 10px;
    height: 100px;
    border-radius: 5px;
    background: #fff;
}

#portfolio .portfolio-item a .mask:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
}

#portfolio .portfolio-item img {
    width: 330px;
    /* height: 240px; */
    vertical-align: top;
}

#portfolio .portfolio-item .item-name {
    margin-top: 12px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
}

#portfolio .portfolio-item .portfolio-description {
    color: #777;
    display: block;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
}

#portfolio .more {
    margin-top: 80px;
}

#about .about-item {
    position: relative;
    padding: 0 0 125px 0;
}

#about .about-item img {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid #f1f1f1;
}

#about .about-item:last-child {
    padding-bottom: 0;
}

#about .about-item:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #f1f1f1;
    z-index: -1;
}

#about .about-item .summary {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: 100px;
    width: 20em;
    text-align: right;
}

#about .about-item:nth-child(2n) .summary {
    left: 50%;
    margin-left: 100px;
    text-align: left;
}

#about .summary p {
    color: rgb(119, 119, 119);
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 120px;
    line-height: 24.5px;
}

#about .summary h4 {
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
}

#team {
    background: #f7f7f7;
}

#team .contact-information {
    margin-top: 16px;
}

.contact-information a {
    display: inline-block;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #000;
    transition: all 0.5s;
}

.contact-information a:hover {
    background: #fed136;
}

#team .team-item {
    float: left;
    margin-right: 75px;
    margin-left: 75px;
}

#team .team-item img {
    margin: 0 auto;
    width: 216px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-bottom: 10px;
}

.icon-linkin:before {
    font-family: "iconfont";
    content: "\e632";
    color: #fff;
}

.icon-facebook:before {
    font-family: "iconfont";
    content: "\e6ae";
    color: #fff;
}

.icon-twitter:before {
    font-family: "iconfont";
    content: "\e634";
    color: #fff;
}

#team .text-mute {
    width: 940px;
    margin: 0 auto;
    color: rgb(119, 119, 119);
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#clients li {
    float: left;
    width: 25%;
    height: 150px;
}

#clients li a {
    display: block;
    height: 150px;
    text-align: center;
}

#clients li a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#clients li img {
    vertical-align: middle;
}

#contact {
    background: #f7f7f7;
}

#contact .your-contact,
#contact .message {
    float: left;
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
}

#contact input[type=text],
#contact textarea {
    width: 100%;
    padding: 20px 0;
    text-indent: 20px;
    margin-bottom: 25px;
    background: #ffff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact .message {
    height: 100%;
}

#contact textarea {
    height: 174px;
}

#footer {
    padding: 25px 0;
    text-align: center;
}

#footer .layout>div {
    float: left;
    width: 33.3%;
    height: 40px;
    line-height: 40px;
}

#footer .layout>div a {
    color: #fed136;
}

#back-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: none;
}

#back-top:before {
    content: '';
    display: inline-block;
    border-bottom: 20px solid #fed136;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}