html,
body {
    margin: 0;
    height: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 18px/1.4 'Arial';
}

a {
    text-decoration: none;
    color: #3b3b3b;
}

#header {
    height: 50px;
    font-size: 18px;
    background: #fafafa;
    border-bottom: 1px solid #EBEDF1;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .header {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 150px;
            background: #fff;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        }
    }
    a {
        display: block;
        line-height: 50px;
    }
    .user-area {
        padding-right: 16px;
        float: right;
        li {
            float: left;
            margin-left: 5px;
            span {
                color: #fff;
                display: block;
                margin-top: 6px;
            }
        }
        img {
            height: 18px;
            margin-top: 5px;
            border-radius: 50%;
        }
    }
    .setting {
        float: right;
        margin-left: 9px;
        display: none;
    }
    .add-note {
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        &:hover {
            background: #e9e9e9
        }
    }
    .login {
        float: right;
        margin-left: 16px;
        &:hover {
            color: #777777
        }
    }
}

#content {
    position: relative;
    width: 1200px;
    height: calc(100% - 51px);
    margin: 0 auto;
}

@media (max-width:1200px) {
    #content {
        width: 960px;
    }
}

@media (max-width:960px) {
    #content {
        width: 720px;
    }
}

@media (max-width:720px) {
    #content {
        width: 480px;
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    // background: #000 url(http://7xpvnv.com2.z0.glb.qiniucdn.com/ba25c630-1c91-4ac1-a3de-65555d78c147.png) repeat top center;
    z-index: -2;
}