@font-face {
    font-family: 'close';
    /* project id 397710 */
    src: url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.eot');
    src: url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.woff') format('woff'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.svg#iconfont') format('svg');
}

.note {
    position: absolute;
    margin: 20px;
    width: 200px;
    box-sizing: border-box;
    transition: all 1s;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.1);
    .note-header {
        height: 30px;
        background: #fafafa;
        .delete {
            position: absolute;
            right: 7px;
            top: 7px;
            font-family: "close" !important;
            font-size: 12px;
            font-style: normal;
            color: #D5D5D5;
            transition: transform .8s;
            cursor: pointer;
            &:hover {
                transform: rotateZ(90deg);
                color: #3b3b3b;
            }
        }
    }
    .note-content {
        padding: 20px;
        min-height: 40px;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.3);
        border-top: 1px solid #EBEDF1;
        border-bottom: 1px solid #EBEDF1;
        color: #7D8490;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-modify: read-write-plaintext-only;
        outline: 0;
    }
    .note-footer {
        button {
            float: right;
            width: 50%;
            height: 30px;
            border: none;
            background: none;
            color: #7D8490;
            &:hover {
                background: #e9e9e9;
            }
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}