@font-face {
    font-family: 'close';
    /* project id 397710 */
    src: url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.eot');
    src: url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.woff') format('woff'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_397710_3garifo2lpxskyb9.svg#iconfont') format('svg');
}

.note {
    position: absolute;
    margin: 20px;
    width: 250px;
    box-sizing: border-box;
    transition: all 1s;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.1);
    .note-header {
        padding-left: 10px;
        padding-right: 10px;
        background: #D75455;
        font: 14px/30px Helvetica, arial, sans-serif;
        color: #fff;
        -webkit-tap-highlight-color: transparent;
        outline: 0;
        cursor: pointer;
        &:hover {
            background: #CB4042;
        }
    }
    .note-content {
        padding: 20px;
        min-height: 60px;
        background: rgba(255, 255, 255, 0.3);
        // border-top: 1px solid #EBEDF1;
        // border-bottom: 1px solid #EBEDF1;
        font: 14px/26px Helvetica, arial, \5b8b\4f53, sans-serif;
        color: #A9A9A9;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-modify: read-write-plaintext-only;
        outline: 0;
    }
    .time {
        border-bottom: 1px solid #EBEDF1;
        text-align: right;
        padding-right: 20px;
        font: 14px/26px Helvetica, arial, \5b8b\4f53, sans-serif;
        color: #EBEDF1;
    }
    .note-footer {
        font: 12px/30px Helvetica, arial, \5b8b\4f53, sans-serif;
        .save {
            float: right;
            width: 30%;
            height: 30px;
            border: none;
            background: rgba(255, 255, 255, 0.3);
            color: #A9A9A9;
            cursor: pointer;
            &:hover {
                background: #e9e9e9;
            }
            &:visited {
                outline: none;
            }
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .delete {
        position: absolute;
        right: 7px;
        top: 7px;
        font-family: "close" !important;
        font-size: 12px;
        font-style: normal;
        color: #0B1013;
        transition: transform .8s;
        cursor: pointer;
        &:hover {
            transform: rotateZ(90deg);
            color: #fff;
        }
    }
}