.toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    font-size: 16px;
    color: #D15A39;
    padding: 5px 10px;
    display: none;
    opacity: 0.7;
    z-index: 1001;
}